@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.container { 
    position: relative; 
}


.container video {
    position: relative;
    z-index: 0;
    width: 100%;
    border-bottom: 5px solid #fff;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
}

header {
    margin: 1em auto 0em;
    max-width: 80%;
}

main {
    color: #fff
}

p {
    margin: 1em auto 1em;
    max-width: 80%;
}

.headings {
    color:aliceblue;
}

body {
    background: url("video.png");
}

.button-div {
    margin: 5rem auto 0;
}

button {
    display: block;
    margin: 1em auto;
    padding: 0.8em;
    width: 40%;
    /* background-color: transparent; */
    background-color: rgba(0,0,0,.5);
    border: 2px solid #F47708;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

/* Pop up Div */

.popup {
    min-width: 200px;
    max-width: 600px;
    z-index: 10;
    padding: 2em;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    color: black;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.display {
    display: block;
    z-index: 100;
}

#guide, #guide-2 {
    text-decoration: underline;
    color: #000;
}

/* Incident HTML */

.options-div {
    margin-top: 6em;
}

/* Urgent html */

#table {
    max-width: 300px;
}

.list-container {
    margin-top: 4em;
    margin-bottom: -3em;
    color: #fff;
}

/* Invoice, Data, Outage and Other */

.main-div {
    width: 60%;
    margin: 1em auto 4em;
    background-color: #fff;
    color: #000;
    padding: 0.5em 0em 1em;
    border-radius: 5px;
}

/* WK */

#wk-p {
    margin-top: 2em;
    margin-bottom: 8em;
}

/* Media Queries */

@media (min-width: 45em) {
    body {
        overflow: hidden;
    }

    header {
        border-bottom: 3px solid #F47708;
        padding: 3em 0;
        margin: 2em auto;
    }
    
    h1 {
        font-size: 4em;
    }

    p {
        margin-top: 2em;
        margin-bottom: -4em;
    }

    /* pop up divs */

    .popup p{
        padding:2em;
        font-size: 2em;
        margin-top: 0em;
    }

    #close {
        margin-top: 5em;
        width: 30%;
    }
    
    .flex-box {
        display: flex;
        max-width: 50%;
    }

    .flex-box button {
        width: 60%;
    }

    .flex-left, .flex-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .flex-left button{
        margin-right: 4em;
    }

    .flex-right button {
        margin-left: 4em;
    }

    /* Alerts */
    #alerts-main {
        margin-top: -1.4em;
    }
    #alert-flex {
        margin-bottom: -5em;
    }

    #alerts-h2 {
        margin-bottom: -2em;
    }

    button {
        width: 15%;
    }

    /* Data */

    #data-p {
        padding-bottom: 5em;
    }

    /* Incidents HTML*/
    .margin-p {
        margin-top: 5em;
        margin-bottom: 0em;
    }

    /* Internal */
    #internal-main {
        margin-top: -3em;
    }
    #internal-flex {
        margin-bottom: -6em;
    }

    /* Urgent html */

    #table {
        max-width: 600px;
    }
    .options-div {
        margin-top: 5em;
    }

    .options button {
        margin-bottom: 2em;
    }

    .return-div {
        width: 100%;
        margin: 5em auto;
        display: flex;
        justify-content: space-between;
    }

    .return-div button {
        width: 15%;
    }

    /* service */

    .list-container {
        margin-top: 2em;
    }
   

    /* WK */

    #wk-p {
        margin-top: 5em;
        margin-bottom: 0em;
    }
    
    /* Invoice, Data, Outage and Other */
    .main-div {
        width: 60%;
        margin: 1em auto 4em;
        background-color: #fff;
        color: #000;
        padding: 4em 0em;
        border-radius: 5px;
    }

    .vertical {
        vertical-align: middle;
        line-height: 100px;
        margin: 2em auto;
    }
}

@media (min-width: 900px) and (max-width: 44em) {
    * {
        font-size: 15px
    }
    
    body {
        overflow: scroll;
    }

    header {
        padding: 0;
        margin: 1em auto;
    }

    main {
        color: #fff
    }
    
    p {
        margin: 1em auto 1em;
        max-width: 80%;
    }
    
    .headings {
        color:aliceblue;
    }
    
    h2.headings {
        margin-top: 1.5em;
    }
}